@model Bookme.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        counter-reset: Serial;
    }

     tr td:first-child::before {
         counter-increment: Serial;
        content: counter(Serial);
    }
</style>
<div id="main">
    <div class="container-fluid">
        <div class="row p-4">
            <div class="col-6">
                <h2 class="text-primary">Category List</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary" data-toggle="modal" data-target="#addCategory">
                    <i class="fa fa-plus"></i> &nbsp;  Create New Category
                </a>
            </div>
        </div>

    </div>
     <div class="container p-3">
        
        <br /><br />

        @if (Model != null || Model?.Categories.Count() > 0)
        {
            //add datatable
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            SN</th>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model?.Categories)
                    {
                        <tr>
                            <td></td>
                            <td width="50%">@category.Name</td>
                            <td width="20%" class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a class="btn btn-primary mx-2" data-toggle="modal" data-target="#editCategory" onclick="getCategoryDetails('@category.Id')">
                                        <i class="fa fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger mx-2" data-toggle="modal" data-target="#deleteCategory" onclick="categoryToDelete('@category.Id')">
                                        <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        }
        else
        {
            <p> No Category exists.</p>
        }
    </div>
</div>

<div class="modal fade" id="addCategory" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Add new Category </b> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        
                        <label class="col-form-label"> Name </label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                </div>

                <div class="col-sm-6 m-auto">
                    <div class="mt-3">
                        <button type="button" class="btn btn-outline-primary d-block mx-auto px-4 py-2"
                                id="submit_Btn" style="border-radius: 20px;" onclick="SaveCategoryDetails()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCategory" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Edit Category </b> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <label class="col-form-label"> Name </label>
                        <input class="form-control" type="text" id="categoryName" required>
                        <input class="form-control" type="text" id="categoryId" hidden>
                    </div>
                </div>

                <div class="col-sm-6 m-auto">
                    <div class="mt-3">
                        <button type="button" class="btn btn-outline-primary d-block mx-auto px-4 py-2"
                                id="submit_Btn" style="border-radius: 20px;" onclick="EditCategoryDetails()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal custom-modal fade" id="deleteCategory" role="dialog">
   @*  @Html.Partial("_DeleteCategory") *@
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class="text-center">Delete Category</h3>
                    <p class="text-center">Are you sure you want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <input class="form-control" type="text" id="deleteCategoryId" hidden>
                        <div class="col-6 text-right">
                            <a class="btn btn-danger continue-btn" href="javascript:void(0);" onclick="deleteCategoryDetails()">
                                Delete
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-primary cancel-btn" href="javascript:void(0);" data-dismiss="modal"> cancel </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

