
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-header">
                <h3 class="text-center">Delete Category</h3>
                <p class="text-center">Are you sure you want to delete?</p>
            </div>
            <div class="modal-btn delete-action">
                <div class="row">
                    <input class="form-control" type="text" id="deleteCategoryId" hidden>
                    <div class="col-6 text-right">
                        <a class="btn btn-danger continue-btn" href="javascript:void(0);" onclick="SaveCategoryDetails()">
                            Delete
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-primary cancel-btn" href="javascript:void(0);" data-dismiss="modal"> cancel </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>